pkgbase = yandex-browser-beta
	pkgdesc = The web browser from Yandex. Yandex Browser is a browser that combines a minimal design with sophisticated technology to make the web faster, safer, and easier.
	pkgver = 24.6.1.853_1
	pkgrel = 1
	url = https://browser.yandex.com
	install = yandex-browser.install
	arch = x86_64
	license = custom:yandex-browser
	depends = flac
	depends = gconf
	depends = gtk2
	depends = harfbuzz-icu
	depends = libxss
	depends = nss
	depends = opus
	depends = snappy
	depends = ttf-font
	depends = xdg-utils
	depends = libxkbfile
	depends = jq
	optdepends = speech-dispatcher
	optdepends = ttf-liberation: fix fonts for some PDFs
	optdepends = yandex-libffmpeg
	provides = yandex-browser-beta
	conflicts = yandex-browser-beta
	options = !strip
	source = yandex-browser-beta-24.6.1.853_1.deb::http://repo.yandex.ru/yandex-browser/deb/pool/main/y/yandex-browser-beta/yandex-browser-beta_24.6.1.853-1_amd64.deb
	sha256sums = 120653416cacf54399a3d9aefeff1803337a700ae7b0a7bd8f6c91068662bcc7

pkgname = yandex-browser-beta
