pkgbase = yandex-browser-beta
	pkgdesc = The web browser from Yandex. Yandex Browser is a browser that combines a minimal design with sophisticated technology to make the web faster, safer, and easier.
	pkgver = 24.10.4.648_1
	pkgrel = 1
	url = https://browser.yandex.com
	install = yandex-browser.install
	arch = x86_64
	license = custom:yandex-browser
	depends = flac
	depends = gconf
	depends = gtk2
	depends = harfbuzz-icu
	depends = libxss
	depends = nss
	depends = opus
	depends = snappy
	depends = ttf-font
	depends = xdg-utils
	depends = libxkbfile
	depends = jq
	optdepends = speech-dispatcher
	optdepends = ttf-liberation: fix fonts for some PDFs
	optdepends = yandex-libffmpeg
	provides = yandex-browser-beta
	conflicts = yandex-browser-beta
	options = !strip
	source = yandex-browser-beta-24.10.4.648_1.deb::http://repo.yandex.ru/yandex-browser/deb/pool/main/y/yandex-browser-beta/yandex-browser-beta_24.10.4.648-1_amd64.deb
	sha256sums = 1a0176c2aa6d457a0f2caf7b9fda1ab68d3a93b949b9abcc45f2b2ba67666340

pkgname = yandex-browser-beta
