pkgbase = yandex-browser-beta
	pkgdesc = The web browser from Yandex. Yandex Browser is a browser that combines a minimal design with sophisticated technology to make the web faster, safer, and easier.
	pkgver = 25.2.1.799_1
	pkgrel = 1
	url = https://browser.yandex.com
	install = yandex-browser.install
	arch = x86_64
	license = custom:yandex-browser
	depends = flac
	depends = gconf
	depends = gtk2
	depends = harfbuzz-icu
	depends = libxss
	depends = nss
	depends = opus
	depends = snappy
	depends = ttf-font
	depends = xdg-utils
	depends = libxkbfile
	depends = jq
	optdepends = speech-dispatcher
	optdepends = ttf-liberation: fix fonts for some PDFs
	optdepends = yandex-libffmpeg
	provides = yandex-browser-beta
	conflicts = yandex-browser-beta
	options = !strip
	source = yandex-browser-beta-25.2.1.799_1.deb::http://repo.yandex.ru/yandex-browser/deb/pool/main/y/yandex-browser-beta/yandex-browser-beta_25.2.1.799-1_amd64.deb
	sha256sums = b9bd383d1989185b216f36f54fdd329cac6684935e57908b8bbe510cc685fe79

pkgname = yandex-browser-beta
